<div class="form-group">
  <label for="server-name">Server Name</label>
  <input
    id="server-name"
    class="form-control"
    type="text"
    [(ngModel)]="serverName"
  />
  {{ serverName }}
</div>

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="createServer()"
>
  Add Server
</button>

<p>Allow new server: {{ allowNewServer }}</p>

<ng-container *ngIf="serverCreated; else noServer">
  <p>Status: {{ serverCreationStatus }}</p>
</ng-container>
<ng-template #noServer>
  <p>No servers was created!</p>
</ng-template>

<hr />

<app-server-item *ngFor="let item of servers"></app-server-item>
