<div class="form-group">
  <label for="server-name">Server Name</label>
  <input
    id="server-name"
    class="form-control"
    type="text"
    (input)="updateServerName($any($event))"
  />
  {{ serverName }}
</div>

<button
  class="btn btn-primary"
  [disabled]="!allowNewServer"
  (click)="createServer()"
>
  Add Server
</button>

<p>Allow new server: {{ allowNewServer }}</p>
<p>Status: {{ serverCreationStatus }}</p>

<hr />

<ul>
  <li>
    <app-server-item></app-server-item>
  </li>
  <li>
    <app-server-item></app-server-item>
  </li>
  <li>
    <app-server-item></app-server-item>
  </li>
</ul>
